.row {
    
    color: white;
    text-align: center;
    background-color: black;
    margin: 100px;
    border: 1px solid purple;
}

body {
  background-image: url("spacetest1111.jpeg");
  background-repeat: repeat;
}

h1 {
    margin-top: 69px;
    color: white;
}