    body {
        
  font-family: 'Courier New', monospace;
  color: rgb(0, 186, 25);
  }
    
body {
 background-image: url("mato.png");
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left; 
 background-color: #000000;
}