   body {
        
  font-family: 'Impact', monospace;
  color: rgb(0, 186, 25);
  
  background-image: url(2021_10_05_0i4_Kleki.png);
  background-repeat: repeat;
  background-color: #000000;
  }
    
