body {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    color: white;
}
.otsikko {
  padding: 1%;
}
header {
  padding: 2%;
}
table {
    width: 100%;
    text-align: center;
    border: 2px black;
    color: yellow;
}

caption, th, td {
    border: 2px solid black;
    background-color: red;
}

caption {
    background-color: lightblue;
    text-align: center;
    color: black;
    font-size: 30px;
}

form {
    margin-top: 5%;
    float: left;
    width: 100%;
    margin-left: 5%;
    text-align: left;
}
